<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.LEGENO.ShareOurSchedule">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.LEGENO.ShareOurSchedule.DeleteGroup"
            android:theme="@style/AppTheme.MyDialog" />
        <activity
            android:name="com.LEGENO.ShareOurSchedule.ChangeGroupManager"
            android:theme="@style/AppTheme.MyDialog" />
        <activity
            android:name="com.LEGENO.ShareOurSchedule.SchedulePopUp"
            android:parentActivityName="com.LEGENO.ShareOurSchedule.Calendar_main"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name="com.LEGENO.ShareOurSchedule.DateSelection"
            android:theme="@style/AppTheme.MyDialog" />
        <activity android:name="com.LEGENO.ShareOurSchedule.CreateSchedule" />
        <activity android:name="com.LEGENO.ShareOurSchedule.JoinGroup" />
        <activity android:name="com.LEGENO.ShareOurSchedule.Loading" />
        <activity android:name="com.LEGENO.ShareOurSchedule.Calendar_main" />
        <activity android:name="com.LEGENO.ShareOurSchedule.ManageGroup" />
        <activity android:name="com.LEGENO.ShareOurSchedule.Setting" />
        <activity android:name="com.LEGENO.ShareOurSchedule.ConfirmWithdrawal" />
        <activity android:name="com.LEGENO.ShareOurSchedule.ConfirmDeleteAllSchedule" />
        <activity
            android:name="com.LEGENO.ShareOurSchedule.CreateGroup"
            android:theme="@style/AppTheme.MyDialog" />
        <activity
            android:name="com.LEGENO.ShareOurSchedule.Withdrawal"
            android:theme="@style/AppTheme.MyDialog" />
        <activity
            android:name="com.LEGENO.ShareOurSchedule.ChangeGroupName"
            android:theme="@style/AppTheme.MyDialog" />
        <activity
            android:name="com.LEGENO.ShareOurSchedule.RecommendSchedule"
            android:theme="@style/AppTheme.MyDialog" />



        <activity android:name="com.LEGENO.ShareOurSchedule.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.LEGENO.ShareOurSchedule.RegisterActicity"
            android:label="@string/app_name"
            android:parentActivityName="com.LEGENO.ShareOurSchedule.LoginActivity" />

    </application>

</manifest>