<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.LEGENO.SOS">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.LEGENO.SOS.DeleteGroup"
            android:theme="@style/AppTheme.MyDialog" />
        <activity
            android:name="com.LEGENO.SOS.ChangeGroupManager"
            android:theme="@style/AppTheme.MyDialog" />
        <activity
            android:name="com.LEGENO.SOS.SchedulePopUp"
            android:parentActivityName="com.LEGENO.SOS.Calendar_main"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name="com.LEGENO.SOS.DateSelection"
            android:theme="@style/AppTheme.MyDialog" />
        <activity android:name="com.LEGENO.SOS.CreateSchedule" />
        <activity android:name="com.LEGENO.SOS.JoinGroup" />
        <activity android:name="com.LEGENO.SOS.Loading" />
        <activity android:name="com.LEGENO.SOS.Calendar_main" />
        <activity android:name="com.LEGENO.SOS.ManageGroup" />
        <activity android:name="com.LEGENO.SOS.Setting" />
        <activity android:name="com.LEGENO.SOS.ConfirmWithdrawal" />
        <activity android:name="com.LEGENO.SOS.ConfirmDeleteAllSchedule" />
        <activity
            android:name="com.LEGENO.SOS.CreateGroup"
            android:theme="@style/AppTheme.MyDialog" />
        <activity
            android:name="com.LEGENO.SOS.Withdrawal"
            android:theme="@style/AppTheme.MyDialog" />
        <activity
            android:name="com.LEGENO.SOS.ChangeGroupName"
            android:theme="@style/AppTheme.MyDialog" />
        <activity
            android:name="com.LEGENO.SOS.RecommendSchedule"
            android:theme="@style/AppTheme.MyDialog" />



        <activity android:name="com.LEGENO.SOS.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.LEGENO.SOS.RegisterActicity"
            android:label="@string/app_name"
            android:parentActivityName="com.LEGENO.SOS.LoginActivity" />

    </application>

</manifest>